:root {
  --primary-white: #ffffff;
  --shadow: #d1d5db;
  --font-color: #e0e0e0;
  --border: #ccc;
  --border-hover: #a1a1a1;
  --button-black: #333;
  --text-color: #393636;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  background-color: #f7f9fc;
}

.errMsg {
  position: absolute;
  color: red;
  font-weight: bold;
  top: 10vh;
  font-size: 14px;
}

@media screen and (min-width: 760px) {
  .errMsg {
    position: absolute;
    color: red;
    font-weight: bold;
    top: 10vh;
    font-size: 3vh;
  }
}
