:root {
  --primary-white: #ffffff;
  --shadow: #d1d5db;
  --font-color: #e0e0e0;
  --border: #ccc;
  --border-hover: #a1a1a1;
  --button-black: #333;
  --text-color: #393636;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 14px;
  background-color: #f7f9fc;
}

.word-span {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 2px;
  color: #fff;
  font-size: 14px;
}

.a1 {
  background-color: #e0f7fa;
}
.a2 {
  background-color: #ffe0b2;
}
.b1 {
  background-color: #ffb2b2;
}
.b2 {
  background-color: #e7b2ff;
}

.c1 {
  background-color: #7ad4d0;
}

.c2 {
  background-color: #ff478b;
}

.unknown {
  background-color: #9e9e9e;
}

.mainInput {
  width: 70%;
  height: 35vh;
  border: 2px solid var(--border);
  border-radius: 4px;
  background-color: var(--primary-white);
  font-size: 16px;
  resize: none;
  box-sizing: content-box;
  box-shadow: 4px 6px 2px 4px var(--shadow);
  transition: border-color 0.3s ease, box-shadow 0.5s ease;
}

.mainInput:hover,
.mainInput:focus {
  border-color: var(--border-hover);
  box-shadow: 4px 6px 2px 4px var(--border-hover);
  outline: none;
}

.main-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 3vh;
}

.buttonDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.checkTheLevel {
  background-color: var(--button-black);
  color: var(--font-color);
  font-weight: bold;
  border: 0;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.4s ease;
  width: 100%;
  max-width: 35vh;
  height: 10vh;
}

.checkTheLevel:hover {
  background-color: black;
  color: var(--primary-white);
}

.checkTheLevel:active {
  background-color: var(--text-color);
}

.inputsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  min-height: 200px;
  margin-top: 5vh;
}

.input {
  flex-grow: 1;
  width: 120vh;
  max-width: 300px;
  height: 20vh;
  border: 2px solid var(--border);
  border-radius: 10px;
  background-color: var(--primary-white);
}

.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wordLevel,
.sentLevel {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.5em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (min-width: 760px) {
  .inputsContainer {
    flex-direction: row;
    gap: 10vh;
  }
  .main-container {
    width: 70%;
  }
}
