.tooltip {
  visibility: visible;
  opacity: 1;
  position: absolute;
  bottom: 125%;
  left: 250%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 10;
  transform: translateX(-50%) translateY(-5px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
  font-size: 0.75rem;
}

.word-span {
  position: relative;
  cursor: pointer;
}

.word-span:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(-10px);
  transition-delay: 0.5s, 0.5s, 0s;
}

.wiki-link {
  color: #87f9ff;
  text-decoration: none;
  display: block;
  margin-top: 5px;
  font-size: 11px;
}
